/NetDeviceManager.Database/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/NetDeviceManager.Database/obj/Debug/net8.0/NetDeviceManager.Database.AssemblyInfo.cs
/NetDeviceManager.Database/obj/Debug/net8.0/NetDeviceManager.Database.AssemblyInfoInputs.cache
/NetDeviceManager.Database/obj/Debug/net8.0/NetDeviceManager.Database.assets.cache
/NetDeviceManager.Database/obj/Debug/net8.0/NetDeviceManager.Database.csproj.AssemblyReference.cache
/NetDeviceManager.Database/obj/Debug/net8.0/NetDeviceManager.Database.GeneratedMSBuildEditorConfig.editorconfig
/NetDeviceManager.Database/obj/Debug/net8.0/NetDeviceManager.Database.GlobalUsings.g.cs
