@using NetDeviceManager.Database.Tables
@rendermode InteractiveServer
<Modal @ref="modal" Title="New login profile">
    <BodyTemplate>
        <div style="margin: 30px; margin-top: 0">
            <EditForm Model="Profile" method="post" OnValidSubmit="SubmitForm" FormName="NewProfile" class="modal-form">
                <DataAnnotationsValidator />
                <div class="labelinput-modalform">
                    <label class="label-menu font-16">Name<span class="important-symbol">*</span></label>
                    <InputText @bind-Value="Profile.Name" class="input-modalform font-16"
                               placeholder="Enter value..."/>
                    <ValidationMessage For="() => Profile.Name"/>
                </div>
                <div class="labelinput-modalform">
                    <label class="label-menu font-16">Description</label>
                    <InputText @bind-Value="Profile.Description" class="input-modalform font-16"
                               placeholder="Enter value..."/>
                </div>
                <div class="labelinput-modalform">
                    <label class="label-menu font-16">Ssh Username</label>
                    <InputText @bind-Value="Profile.SshUsername" class="input-modalform font-16"
                               placeholder="Enter value..."/>
                </div>
                <div class="labelinput-modalform">
                    <label class="label-menu font-16">Ssh Password</label>
                    <InputText @bind-Value="Profile.SshPassword" class="input-modalform font-16"
                               placeholder="Enter value..."/>
                </div>
                <div class="labelinput-modalform">
                    <label class="label-menu font-16">Cisco Privilaged Mode Password</label>
                    <InputText @bind-Value="Profile.CiscoPrivilagedModePassword" class="input-modalform font-16"
                               placeholder="Enter value..."/>
                </div>
                <div class="labelinput-modalform">
                    <label class="label-menu font-16">Snmp Username</label>
                    <InputText @bind-Value="Profile.SnmpUsername" class="input-modalform font-16"
                               placeholder="Enter value..."/>
                </div>
                <div class="labelinput-modalform">
                    <label class="label-menu font-16">Snmp Security Name</label>
                    <InputText @bind-Value="Profile.SnmpSecurityName" class="input-modalform font-16"
                               placeholder="Enter value..."/>
                </div>
                <div class="labelinput-modalform">
                    <label class="label-menu font-16">Snmp Authentication Password</label>
                    <InputText @bind-Value="Profile.SnmpAuthenticationPassword" class="input-modalform font-16"
                               placeholder="Enter value..."/>
                </div>
                <div class="labelinput-modalform">
                    <label class="label-menu font-16">Snmp Privacy Password</label>
                    <InputText @bind-Value="Profile.SnmpPrivacyPassword" class="input-modalform font-16"
                               placeholder="Enter value..."/>
                </div>
                <div>
                    <button type="submit" class="btn-apply btn-style-confirm font-16">Apply</button>
                </div>
            </EditForm>
        </div>
    </BodyTemplate>
</Modal>

@code{
    private Modal modal = default!;

    [Parameter] public LoginProfile Profile { get; set; }
    [Parameter] public Action<LoginProfile> OnApply { get; set; }

    public async Task ShowModalAsync()
    {
        await modal.ShowAsync();
    }
    public async Task HideModalAsync()
    {
        await modal.HideAsync();
    }
    

    private void SubmitForm()
    {
        OnApply?.Invoke(Profile);
    }

}