@using NetDeviceManager.Web.Models
@rendermode InteractiveServer
<Modal @ref="modal" Title="Add User">
    <BodyTemplate>
        <div style="margin: 30px; margin-top: 0">
            <EditForm Model="_user" method="post" OnValidSubmit="SubmitForm" FormName="NewUser" class="modal-form">
                <DataAnnotationsValidator />
                <div class="labelinput-modalform">
                    <label class="label-menu font-16">Username<span class="important-symbol">*</span></label>
                    <InputText @bind-Value="_user.Username" class="input-modalform font-16" placeholder="Enter name..."/>
                    <ValidationMessage For="() => _user.Username"/>
                </div>
                <div class="labelinput-modalform">
                    <label class="label-menu font-16">Password<span class="important-symbol">*</span></label>
                    <InputText @bind-Value="_user.Password" class="input-modalform font-16" placeholder="Enter password..."/>
                    <ValidationMessage For="() => _user.Password"/>
                </div>
                <div>
                    <button type="submit" class="btn-apply btn-style-confirm font-16">Add</button>
                </div>
            </EditForm>
        </div>
    </BodyTemplate>
</Modal>

@code{
private Modal modal = default!;

private UserCreateModel _user = default!;
[Parameter] public Action<UserCreateModel> OnApply { get; set; }

protected override void OnAfterRender(bool firstRender)
{
    if (firstRender)
    {
        _user = new UserCreateModel();
    }
}

public async Task ShowModalAsync()
{
await modal.ShowAsync();
}

public async Task HideModalAsync()
{
await modal.HideAsync();
}

private void SubmitForm()
{
OnApply?.Invoke(_user);
}
}