@page "/"
@using System.Runtime.InteropServices
@using System.Text.Json
@using Microsoft.AspNetCore.Authorization
@using NetDeviceManager.Database.Interfaces
@using NetDeviceManager.Lib.Interfaces
@using NetDeviceManager.Lib.Snmp.Interfaces
@using NetDeviceManager.Web.Components.Layout
@rendermode InteractiveServer
@attribute [Authorize]
<PageTitle>Home</PageTitle>
<div style="width: 100%; display: flex; justify-content: center">
    <div>
        <h1>Overview</h1>
        <div style="display: flex; justify-content: space-between; width: 80em">
            <Card TextAlignment="Alignment.Center" Class="mb-4" Style="width:25rem;">
                <CardBody>
                    <CardTitle>Devices</CardTitle>
                    <CardText Style="font-size: 38px">Online: <span style="color: forestgreen">@DeviceService.GetOnlineDevicesCount()</span> <br/> Offline: <span style="color: red">@DeviceService.GetOfflineDevicesCount()</span></CardText>
                    <Button Color="ButtonColor.Primary" To="/devices" Type="ButtonType.Link" @onclick="() => NavbarHelper.SelectedChange(_devicesLink)">Show devices</Button>
                </CardBody>
            </Card>
            <Card TextAlignment="Alignment.Center" Class="mb-4" Style="width:25rem;">
                <CardBody>
                    <CardTitle>Snmp alerts</CardTitle>
                    <CardText Style="font-size: 38px">
                        <span style="color: red">@SnmpService.GetSnmpAlertsCount()</span>
                    </CardText>
                    <Button Color="ButtonColor.Primary" To="/snmp" Type="ButtonType.Link" @onclick="() => NavbarHelper.SelectedChange(_snmpLink)">Show snmp monitoring</Button>
                </CardBody>
            </Card>
            <Card TextAlignment="Alignment.Center" Class="mb-4" Style="width:25rem;">
                <CardBody>
                    <CardTitle>Syslog alerts</CardTitle>
                    <CardText Style="font-size: 38px">
                        <span style="color: red">@SyslogService.GetSyslogAlertCount()</span>
                    </CardText>
                    <Button Color="ButtonColor.Primary" To="/syslog" Type="ButtonType.Link" @onclick="() => NavbarHelper.SelectedChange(_syslogLink)">Show syslogs</Button>
                </CardBody>
            </Card>
        </div>
    </div>
</div>

@code{
    [Inject] public  IDeviceService DeviceService { get; set; }
    [Inject] public ISnmpService SnmpService { get; set; }
    [Inject] public ISyslogService SyslogService { get; set; }
    [Inject] public NavbarHelper NavbarHelper { get; set; }
    [Inject] public NavigationManager NavigationManager { get; set; }

    private const string _syslogLink = "syslog";
    private const string _snmpLink = "snmp";
    private const string _devicesLink = "devices";

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            NavbarHelper.OnSelectedNavbarChange += (link) => NavigationManager.NavigateTo($"/{link}");
            InvokeAsync(StateHasChanged);
        }
    }
    
}