@page "/"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<AuthorizeView>
    Hello @context.User.Identity?.Name!
</AuthorizeView>

<form action="Account/Logout" method="post">
    <AntiforgeryToken/>
    <input type="hidden" name="ReturnUrl" value=""/>
    <button type="submit" class="nav-link">
        <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Logout
    </button>
</form>