@page "/snmprecords"
@using Microsoft.AspNetCore.Authorization
@using NetDeviceManager.Database.Models
@using NetDeviceManager.Database.Tables
@using NetDeviceManager.Lib.Snmp.Interfaces

@using NetDeviceManager.Lib.Interfaces
@attribute [Authorize]
@rendermode InteractiveServer
<PageTitle>Snmp records</PageTitle>
<div>
    <h2>Snmp records</h2>

    <EditForm Model="Filter" method="post" OnValidSubmit="FilterRecords" FormName="filter" class="filter-form">
        <div class="labelinput-menu">
            <label class="label-menu font-16">Device name</label>
            <InputText @bind-Value="Filter.DeviceName" class="input-menu font-16" placeholder="Enter your device name..."/>
        </div>
        <div class="labelinput-menu">
            <label class="label-menu font-16">Ip address</label>
            <InputText @bind-Value="Filter.IpAddress" class="input-menu font-16" placeholder="Enter your ip address..."/>
        </div>
        <div class="labelinput-menu">
            <label class="label-menu font-16">Sensor name</label>
            <InputText @bind-Value="Filter.SensorName" class="input-menu font-16" placeholder="Enter your sensor name..."/>
        </div>
        <div class="labelinput-menu">
            <label class="label-menu font-16">Oid</label>
            <InputText @bind-Value="Filter.Oid" class="input-menu font-16" placeholder="Enter your Oid..."/>
        </div>
        <button type="submit" class="btn-style-normal btn-action font-16">Query data</button>
    </EditForm>

    <Grid @ref="grid"
          TItem="SnmpSensorRecord"
          Class="table table-hover table-bordered table-striped"
          DataProvider="RecordsDataProvider"
          Responsive="true">

        <GridColumn TItem="SnmpSensorRecord" HeaderText="Captured time" PropertyName="CapturedTime">
            @context.CapturedTime
        </GridColumn>
        <GridColumn TItem="SnmpSensorRecord" HeaderText="Device" PropertyName="PhysicalDevice.IpAddress">
            @($"{context.PhysicalDevice.Name} ({@context.PhysicalDevice.IpAddress})")
        </GridColumn>
        <GridColumn TItem="SnmpSensorRecord" HeaderText="Sensor" PropertyName="Sensor.Oid">
            @($"{context.Sensor.Name} ({@context.Sensor.Oid})")
        </GridColumn>
        <GridColumn TItem="SnmpSensorRecord" HeaderText="Data" PropertyName="Data">
            @context.Data
        </GridColumn>
    </Grid>
</div>

<style>
    .filter-form {
        display: flex;
        align-items: flex-end;
        margin-bottom: 8px;
    }
</style>

@code{
    [Inject] public IDeviceService DeviceService { get; set; }
    [Inject] public ISnmpService SnmpService { get; set; }
    [Inject] public IDatabaseService DatabaseService { get; set; }

    [SupplyParameterFromForm] private SnmpRecordFilterModel Filter { get; set; } = new();

    BlazorBootstrap.Grid<SnmpSensorRecord> grid = default!;
    private IEnumerable<SnmpSensorRecord> _records = default!;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
    }

    private async Task<GridDataProviderResult<SnmpSensorRecord>> RecordsDataProvider(GridDataProviderRequest<SnmpSensorRecord> request)
    {
        if (_records is null) // pull employees only one time for client-side filtering, sorting, and paging
            _records = GetRecords(); // call a service or an API to pull the employees
        return await Task.FromResult(request.ApplyTo(_records));
    }

    private IEnumerable<SnmpSensorRecord> GetRecords()
    {
        return DatabaseService.GetLastSnmpRecords(100);
    }

    private async void FilterRecords()
    {
        _records = DatabaseService.GetSnmpRecordsWithFilter(Filter, 100);
        await grid.RefreshDataAsync();
    }

}