<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="BatchFile" value="blah.bat" />
        <add key="UdpPort" value="514"/>
        <add key="DefaultConnection" value="Server=database:5432;Database=ManagerData;User Id=manager;Password=Heslo1234." />
        <add key="DefaultConnection.Development" value="Server=localhost:10000;Database=ManagerData;User Id=manager;Password=Heslo1234." />
    </appSettings>
</configuration>