@page "/Account/Login"

@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Identity
@using NetDeviceManager.Database.Identity
@using NetDeviceManager.Web.Components.Logos

@inject SignInManager<ApplicationUser> SignInManager
@inject ILogger<Login> Logger
@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager

@layout AccountLayout
<link href="/css/global-styles.css" rel="stylesheet"/>

<PageTitle>Log in</PageTitle>
<StatusMessage Message="@errorMessage"/>
<EditForm Model="Input" method="post" OnValidSubmit="LoginUser" FormName="login" class="login-form">
    <BigLogo/>
    <DataAnnotationsValidator/>
    <ValidationSummary class="text-danger" role="alert"/>
    <div style="margin-top: 90px">
        <div class="login-labelinput">
            <label for="username" class="login-label font-24">Username</label>
            <InputText @bind-Value="Input.Username" class="login-input font-20" autocomplete="username" aria-required="true"
                       placeholder="Enter your username..."/>
            <ValidationMessage For="() => Input.Username" class="text-danger"/>
        </div>
        <div class="login-labelinput" style="margin-top: 50px">
            <label for="password" class="login-label font-24">Password</label>
            <InputText type="password" @bind-Value="Input.Password" class="login-input font-20" autocomplete="current-password"
                       aria-required="true" placeholder="Enter your password..."/>
            <ValidationMessage For="() => Input.Password" class="text-danger"/>
        </div>
    </div>
    <div style="display: flex; flex-direction: column; align-items: center;">
        <label class="login-checkbox font-20">
            <InputCheckbox @bind-Value="Input.RememberMe" class="login-checkbox-input"/>
            Remember me?
        </label>
        <button type="submit" class="login-btn font-20">Log in</button>
    </div>
</EditForm>

<style>
    .login-form {
        border-style: solid;
        border-color: black;
        border-width: 3px;
        border-radius: 15px;
        width: 690px;
        height: 900px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex; flex-direction: column; align-items: center;
        padding-top: 70px;
        padding-bottom: 70px;
        
    }
    .login-input{
        width: 470px;
        height: 60px;
        border: 3px solid black;
        border-radius: 15px;
        background: #F0F0F0;
        padding-left: 10px;
    }
    
    .login-labelinput{
        display: flex;
        flex-direction: column;
    }
    .login-checkbox{
        margin-top: 30px;
    }
    .login-checkbox-input{
        border: 3px solid black;
        border-radius: 15px;
        background: #F0F0F0;
    }
    
    .login-label{
        margin-bottom: 5px;
    }

    .login-btn {
        width: 310px;
        height: 55px;
        border-radius: 25px;
        color: #FFFFFF;
        background-color: #0081C6;
        border-color: #0081C6;
        margin-top: 75px;
    }
</style>

@code {
    private string? errorMessage;

    [CascadingParameter] private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromForm] private InputModel Input { get; set; } = new();

    [SupplyParameterFromQuery] private string? ReturnUrl { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (HttpMethods.IsGet(HttpContext.Request.Method))
        {
            await HttpContext.SignOutAsync(IdentityConstants.ExternalScheme);
        }
    }

    public async Task LoginUser()
    {
        var result = await SignInManager.PasswordSignInAsync(Input.Username, Input.Password, Input.RememberMe, lockoutOnFailure: false);
        if (result.Succeeded)
        {
            Logger.LogInformation("User logged in.");
            RedirectManager.RedirectTo(ReturnUrl);
        }
        else
        {
            errorMessage = "Error: Invalid login attempt.";
        }
    }

    private sealed class InputModel
    {
        //todo remove credential for production
        [Required] [DataType(DataType.Text)] public string Username { get; set; } = "franta";

        [Required]
        [DataType(DataType.Password)]
        public string Password { get; set; } = "Heslo1234.";

        [Display(Name = "Remember me?")] public bool RememberMe { get; set; }
    }

}